In [88]:
import pandas as pd
import os

# downloaded csv for train and test set interchanged, test-set has 175341 entries and train-set has 82,332
path_to_train_set = "./data/from_unsw_website/UNSW_NB15_training-set.csv"
path_to_test_set = "./data/from_unsw_website/UNSW_NB15_testing-set.csv"
number_of_clients = 10
path_to_client_dataset = "./data/client_dataset"

df = pd.read_csv(path_to_train_set)
df_test = pd.read_csv(path_to_test_set)

# check all unique values in each column

In [109]:
df = pd.concat([df,df_test])

In [110]:
categorical_columns = [
    "proto","service","state","service","sttl",
    "dttl","swin","dwin","trans_depth","ct_ftp_cmd",
    "is_ftp_login","ct_srv_src","ct_srv_dst","ct_dst_ltm",
    "ct_src_ltm", "ct_src_dport_ltm","ct_dst_sport_ltm",
    "ct_dst_src_ltm","ct_state_ttl","ct_flw_http_mthd",
                       ]

In [111]:
df.nunique()

id                   175341
dur                  109945
proto                   133
service                  13
state                    11
spkts                   646
dpkts                   627
sbytes                 9382
dbytes                 8653
rate                 115763
sttl                     13
dttl                      9
sload                121356
dload                116380
sloss                   490
dloss                   476
sinpkt               114318
dinpkt               110270
sjit                 117101
djit                 114861
swin                     22
stcpb                114473
dtcpb                114187
dwin                     19
tcprtt                63878
synack                57366
ackdat                53248
smean                  1377
dmean                  1362
trans_depth              14
response_body_len      2819
ct_srv_src               57
ct_state_ttl              7
ct_dst_ltm               52
ct_src_dport_ltm         52
ct_dst_sport_ltm         35
ct_dst_src_ltm           58
is_ftp_login              4
ct_ftp_cmd                4
ct_flw_http_mthd         11
ct_src_ltm               52
ct_srv_dst               57
is_sm_ips_ports           2
attack_cat               10
label                     2
dtype: int64

In [112]:

df["ct_flw_http_mthd"].unique()

array([ 0,  1,  4,  2,  9, 12,  6, 25, 16, 30,  3], dtype=int64)

In [113]:

df["ct_state_ttl"].unique()

array([0, 1, 2, 3, 6, 4, 5], dtype=int64)

In [114]:
df["trans_depth"].unique()

array([  0,   1,   2,  80, 155,   3,   5,   4, 163, 172,  39, 131,   9,
         8], dtype=int64)

In [115]:
df["ct_ftp_cmd"].unique()

array([0, 1, 2, 4], dtype=int64)

In [116]:
df["is_ftp_login"].unique()

array([0, 1, 2, 4], dtype=int64)

In [117]:

df["ct_srv_src"].unique()

array([ 1, 43,  7, 11,  2,  3,  6,  5, 12, 63,  4,  9,  8, 14, 13, 16, 10,
       17, 15, 19, 21, 20, 22, 18, 27, 23, 37, 46, 39, 28, 36, 34, 29, 40,
       25, 31, 38, 35, 52, 33, 24, 26, 44, 45, 30, 32, 47, 41, 42, 49, 51,
       50, 59, 48, 54, 53, 58], dtype=int64)

In [118]:
df["ct_dst_ltm"].unique()

array([ 1,  2,  3,  6,  7, 10,  5,  8,  9, 12,  4, 11, 13, 14, 24, 15, 17,
       18, 16, 21, 23, 37, 46, 20, 40, 25, 22, 41, 35, 45, 27, 19, 26, 44,
       31, 32, 38, 33, 39, 36, 43, 48, 29, 34, 47, 30, 28, 42, 50, 51, 59,
       52], dtype=int64)

In [119]:
df["ct_dst_ltm"].unique()

array([ 1,  2,  3,  6,  7, 10,  5,  8,  9, 12,  4, 11, 13, 14, 24, 15, 17,
       18, 16, 21, 23, 37, 46, 20, 40, 25, 22, 41, 35, 45, 27, 19, 26, 44,
       31, 32, 38, 33, 39, 36, 43, 48, 29, 34, 47, 30, 28, 42, 50, 51, 59,
       52], dtype=int64)

In [120]:
df["ct_src_ltm"].unique()

array([ 1,  2,  3,  6, 12, 10,  5,  8,  4,  9, 13,  7, 17, 19, 11, 14, 15,
       16, 21, 18, 24, 20, 23, 37, 46, 40, 25, 22, 45, 27, 26, 39, 41, 44,
       34, 30, 28, 35, 29, 42, 47, 43, 31, 60, 33, 36, 38, 32, 50, 51, 52,
       48], dtype=int64)

In [121]:
df["ct_src_dport_ltm"].unique()

array([ 1,  2,  3,  6, 10,  5,  8,  9,  7,  4, 11, 14, 13, 15, 12, 21, 17,
       18, 23, 37, 46, 16, 20, 40, 25, 19, 33, 22, 31, 27, 34, 28, 26, 32,
       29, 30, 24, 36, 45, 35, 39, 42, 41, 38, 50, 51, 43, 47, 44, 59, 52,
       48], dtype=int64)

In [122]:
df["ct_dst_sport_ltm"].unique()

array([ 1,  2,  3, 23, 37, 46, 14, 20, 40,  4,  5,  6,  9,  8, 10,  7, 18,
       17, 15, 16, 13, 12, 11, 24, 25, 28, 22, 19, 26, 21, 27, 31, 33, 32,
       38], dtype=int64)

In [123]:
df["ct_dst_src_ltm"].unique()

array([ 1,  2,  3, 40,  4,  7,  6, 63,  5,  8,  9, 10, 13, 11, 12, 14, 19,
       26, 15, 23, 37, 46, 39, 20, 28, 36, 34, 22, 29, 16, 25, 32, 38, 35,
       51, 33, 18, 31, 41, 21, 30, 17, 27, 44, 43, 45, 24, 54, 42, 65, 47,
       49, 50, 52, 59, 48, 53, 58], dtype=int64)

# read the train csv and append all categorical values in increments of 1, keep a dictionary to keep record of mapping

In [124]:
categorical_columns_dict = {i:{} for i in categorical_columns}

In [125]:
for cat_col in categorical_columns_dict.keys():
    unique_entries_for_col = df[cat_col].unique()

    categorical_columns_dict[cat_col] = {k: v for k, v in zip(unique_entries_for_col, [i for i in range(len(unique_entries_for_col))])}

In [126]:
df = pd.read_csv(path_to_train_set)

In [127]:
df_test = pd.read_csv(path_to_test_set)

In [128]:
for cat_col in categorical_columns:
    df[cat_col] = df[cat_col].replace(categorical_columns_dict[cat_col])

In [129]:
for cat_col in categorical_columns:
    df_test[cat_col] = df_test[cat_col].replace(categorical_columns_dict[cat_col])

In [130]:
df

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,0,0,0,6,4,258,172,74.087490,...,0,0,0,0,0,0,0,0,Normal,0
1,2,0.649902,0,0,0,14,38,734,42014,78.473372,...,0,1,0,0,0,0,1,0,Normal,0
2,3,1.623129,0,0,0,8,16,364,13186,14.170161,...,0,2,0,0,0,1,1,0,Normal,0
3,4,1.681642,0,1,0,12,12,628,770,13.677108,...,0,2,1,1,0,1,0,0,Normal,0
4,5,0.449454,0,0,0,10,6,534,268,33.373826,...,0,3,0,0,0,1,2,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175336,175337,0.000009,1,6,1,2,0,114,0,111111.107200,...,20,46,0,0,0,20,22,0,Generic,1
175337,175338,0.505762,0,0,0,10,8,620,354,33.612649,...,0,1,0,0,0,0,0,0,Shellcode,1
175338,175339,0.000009,1,6,1,2,0,114,0,111111.107200,...,2,12,0,0,0,2,13,0,Generic,1
175339,175340,0.000009,1,6,1,2,0,114,0,111111.107200,...,6,40,0,0,0,35,33,0,Generic,1
175340,175341,0.000009,1,6,1,2,0,114,0,111111.107200,...,19,40,0,0,0,35,33,0,Generic,1

In [131]:
df_test['state'].unique()

array([ 1,  0,  4,  9,  2,  5, 10], dtype=int64)

In [132]:
categorical_columns_dict["state"]

{'FIN': 0,
 'INT': 1,
 'CON': 2,
 'ECO': 3,
 'REQ': 4,
 'RST': 5,
 'PAR': 6,
 'URN': 7,
 'no': 8,
 'ACC': 9,
 'CLO': 10}

In [136]:
df.to_csv(f"./data/centralized_data.csv",index=False)
df_test.to_csv(f"./data/centralized_test_data.csv",index=False)

In [70]:

number_of_clients = 10
path_to_client_dataset = "./data/client_dataset"
if not os.path.isdir(path_to_client_dataset):
    os.makedirs(path_to_client_dataset,exist_ok=True)

def partition_dataframe(df,number_of_clients):
    shuffled_df = df.sample(frac=1, random_state=42)  # Shuffle the DataFrame randomly

# Reset the index of the shuffled DataFrame
    df = shuffled_df.reset_index(drop=True)
    # Calculate the size of each partition
    partition_size = (len(df) // number_of_clients)+1

    # Partition the dataframe
    for idx,i in enumerate(range(0, len(df), partition_size)):
        partition = df[i:i+partition_size]


        partition.to_csv(os.path.join(path_to_client_dataset,f"client_{idx}.csv"),index=False)




partition_dataframe(df,number_of_clients)

In [1]:
import pandas as pd
import os

df = pd.read_csv("./data/client_dataset/client_0.csv")

In [4]:
df[:int(len(df)*.85)]

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,15483,2.736664,0,0,0,232,438,13350,548216,244.458211,...,0,8,0,0,0,8,11,0,Normal,0
1,133350,0.000009,1,6,1,2,0,114,0,111111.107200,...,14,11,0,0,0,5,11,0,Generic,1
2,80486,5.788526,0,0,0,36,34,6102,3892,11.920133,...,0,4,0,0,0,1,12,0,Exploits,1
3,29973,3.849634,0,0,0,448,858,25160,1094788,338.993271,...,0,6,0,0,0,1,8,0,Normal,0
4,18340,0.001052,1,6,2,2,2,130,162,2851.711087,...,0,0,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37255,62074,0.000003,1,0,1,2,0,168,0,333333.321500,...,0,0,0,0,0,4,0,0,Reconnaissance,1
37256,48940,0.391574,0,4,0,10,6,1526,268,38.306936,...,0,5,0,0,1,0,9,0,Fuzzers,1
37257,171397,0.000009,1,6,1,2,0,114,0,111111.107200,...,23,34,0,0,0,49,39,0,Generic,1
37258,53340,2.859503,0,0,0,10,8,564,354,5.945089,...,0,0,0,0,0,1,4,0,Reconnaissance,1
37259,43151,0.000007,1,0,1,2,0,78,0,142857.140900,...,0,11,0,0,0,2,11,0,Normal,0